html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    color: #4F5A75;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: absolute;
    height: 83%;
    width: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    overflow-y: auto;
}

.notLoaded {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 76px;
    text-align: center;
    color: #CCCCC9;
}

@media only screen and (max-width: 1024px) and (max-height: 1367px) {
    .container {
        height: 65%;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .notLoaded {
        font-size: 56px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .container {
        width: 65%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .container {
        width: 75%;
        height: 75%;
    }
}

@media only screen and (max-width: 736px) and (max-height: 414px) {
    .container {
        width: 75%;
        height: 100%;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    .container {
        width: 95%;
        height: 90%;
    }
}